XFYUN_KB_APP_ID=replace_with_app_id
XFYUN_KB_API_SECRET=replace_with_rotated_api_secret
XFYUN_KB_REPO_ID=replace_with_repo_id
XFYUN_KB_PAPER_DIR=C:\path\to\papers
XFYUN_KB_BASE_URL=https://chatdoc.xfyun.cn
XFYUN_KB_CONNECT_TIMEOUT=10
XFYUN_KB_READ_TIMEOUT=600
